body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('https://vod-progressive.akamaized.net/exp=1702319186~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F4745%2F13%2F348727902%2F1408341668.mp4~hmac=fa9a91a0b84279d8e70d80d1d47fa1f1479f79b94924db10fabbbcee80a7fe78/vimeo-prod-skyfire-std-us/01/4745/13/348727902/1408341668.mp4') no-repeat;
    background-size: cover;
  }

  #video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }

  .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
  }

  .menu li {
    margin: 10px 0;
  }